<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<ContextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</ContextListener>

	<!-- To enable JMX Management -->
	<jmxConfigurator/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/devopstest/logs/devopstest.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${user.home}/logs/devopstest/devopstest.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>

		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>

		<encoder>
			<Pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
		</encoder>
	</appender>

	<logger name="com.vtk.devopstest" level="debug" />
	<logger name="uk.co.jemos.podam" level="warn" />
	<logger name="org.springframework" level="info" />
	<logger name="org.hibernate" level="warn" />
	<logger name="org.hibernate.type.descripter.sql.BasicBinder" level="warn" />
	<logger name="org.springframework.web" level="info" />
	<logger name="org.springframework.security" level="debug" />

	<root level="warn">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

</configuration>
